/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


header{
	width: 100%;
	height: 65px;
	padding-top:20px;
}
.logo{
	width:232px;
	height:38px;
	background-image:url('../img/spritesMalaga.png');
	background-repeat:no-repeat;
	background-position:-95px -7px;
}
.logo:hover{
	background-position:-97px -52px;
}
.wrapper{
	width: 950px;
	margin: 0 auto;
}

.menu{
	width: 100%;
	height: 65px;	
}
.submenu{
	width: 100%;
	height: 30px;
}
.menu ul, .submenu ul{
	list-style: none;
	color: white;
	font-family: Verdana;
}
.menu ul{
	padding-top: 15px;
}
.submenu ul{
	padding-top: 3px;
}
.menu li, .submenu li{
	display: inline-block;
	float: left;
	margin-right: 20px;
}
.menu li:hover{
	border-bottom: 3px solid white;
	cursor: pointer;
}
.submenu li:hover{
	border-bottom: 1px solid white;
	cursor: pointer;
}

.menu li{
	font-size: 25px;
}

.submenu li{
	font-size: 17px;
}

.darkBlue{
	background-color: #1168D9;
}
.blue{
	background-color: #117CD9;
}
.softBlue{
	background-color: #0D9FD9;
}

.grayBorderBottom{
	border-bottom: 1px solid gray;
}

footer{
	position: absolute;
	bottom:0px;
	width: 100%;
	height: 300px;
}